#set ($properties=$entity.properties)
#set ($package=$entity.packageInfo)
#set ($className=$format.firstToUpper($entity.name))
#set ($prefix="${package.getEntityInterfacePackageName()}.I${className}") 
#foreach ($property in $properties) 
$prefix.${property.name}=${property.bundleName}
#end
#* generate pairs of FULL_INTERFACE_NAME.PROPERTY=$PROPERTY.BUNDLE_NAME *#